{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<hr>
<h1 align="center">Filament Inventory</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>SKU</th>
            <th>Weight (grams)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in filament_inventory %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.sku }}</td>
            <td>{{ item.weight }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}
